/*  unvisited link  */
a:link {
    color: #C1272D;
}
/*  mouse over link */
a:hover {
    color: #751920;
}

.row{
    /display: table;
    vertical-align: middle;
    /display: table-cell;
    /height: 50px;
    padding: 0px;
}

.navbar{
    font-size: 14px;
    font-weight: 200;
    padding-bottom: 0;
}

.container-fluid_main{
    padding: 100px;
    
    /position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    height: 100vh;
}

.container-fluid_buttons{
    padding: 0;
}

.container-fluid_features{
    padding-left: 90px;
    padding-right: 100px;
}

.line{
    /margin: 10px;
    /padding: 10px;
    width: 10px;
    height: .5px;
    /border: .3px solid black;
    background-color: black;
    
}

.jumbotron-bus{
    background-color: #82e0d6;
}

.jumbotron-inte{
    background-color: #80b3dd;
}

.jumbotron-mods{
    background-color: #7fdb94;
}


.jumbotron{
    margin: 10px;
    padding: 40px;
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-flow: row;
}

.row {
    width: 100%;
}

.jumbotron .col-6 {
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.jumbotron .inner-box {
    width: 400px;
    text-align: left;
}

h1{
    font-weight: 100;
}

body {
    /background-color: #18191c;
    font-size: 15px;
    font-weight: 100;
    font-style: normal;
    font-family: 'Ubuntu', sans-serif;
    color: #3d3d3d;
    text-align: center;
    margin: 0;
}

.footer{
    font-size: 10px;
}

.category {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.category h6 {
    /padding: 10px;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.titleLeft{
    /width: 70%;
    text-align: left;
    /display: table-cell;
}

.button{
    background-color: #C1272D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
}